

#home-screen .content-block {
	position: absolute;
	top: 60%;
	width: 100%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	text-align: center;
	text-transform: uppercase;
	z-index: 10;
}

.slider { 
	background:rgba(0,0,0,.2); 
	opacity:0; 
}

#home-screen .content-block .slide {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    /*opacity: 0;*/
}

#home-screen .content-block h1 {
	font-family: 'Roboto', sans-serif;
    font-size: 75px;
    font-weight: 600;
    line-height: auto;
    margin: 70px auto;
    text-align: center;
    /*opacity: 0;*/
    color: #fff;
	text-transform:capitalize;
	letter-spacing:2px;
	padding:0;
}

#home-screen .content-block h1 span {    
	color: #228482;
}


.cycle-rollup .cycle-caption {
	display:none !important;
}

.cycle-rollup .cycle-slideshow img {
	z-index:6 !important;
}

.cycle-rollup #home-screen .content-block {
	z-index:14 !important;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}


/** 10. MEDIA QUERIES
 *****************************************************************/
 
@media (max-width : 1200px) {
#home-screen .content-block h1 {
	font-size: 60px; 
	margin:70px auto;
}
}

@media (max-width : 991px) {
#home-screen .content-block h1 {
	font-size: 55px; 
	margin:60px auto;
}
}

@media (max-width : 767px), (max-height : 480px) {
#home-screen .content-block h1 {
	font-size: 45px; 
	margin:35px auto;
}
}

@media (max-width : 480px), (max-width : 480px) and (max-height : 480px) {
#home-screen .content-block h1 {
	font-size: 20px; 
	margin:30px auto;
}
}
