

.vegas-fullwidth {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	text-align:center;
    z-index: 9;
}

.main-title {
	color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	z-index: 9;
}

.welcome {
	font-size:75px;
	line-height:100px;
	letter-spacing: 3px;
	text-align:center;
	text-transform: none;
	margin: 0px auto;
	text-transform:capitalize;
    font-weight: 500;
}

/* Animation List */
.main-title ul {
	list-style: none;
	padding:0;
	margin: 20px 0 5px;
	position:relative;
	height: 40px;
	font-size: 26px;
	font-weight:300;
	letter-spacing: 5px;
	text-transform:uppercase;
}

.main-title ul li {
	position: absolute;
	width: 100%;
	text-align: center;
	opacity: 0;
	top: 70px;
	-ms-animation: fadeInDown;
	-moz-animation: fadeInDown;
	-webkit-animation: fadeInDown;
	animation: fadeInDown 0.8s;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	transition-timing-function: ease;
	-webkit-transition-timing-function: ease; /* Safari and Chrome */
}

.main-title li.sliding_title {
	opacity: 1;
	top: 0;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	transition-timing-function: ease;
	-webkit-transition-timing-function: ease; /* Safari and Chrome */
}
/* // Animation List */

/* Navigation */
.s-prev,
.s-next {
	font-size: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0,0.5);
	color:#fff;
    width: 55px;
    height: 55px;
    line-height: 55px;
	position: absolute; 
	left: 0;
	top:50%; 
	z-index: 10; 
	opacity:0;
	cursor: pointer;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-o-transform:translateY(-50%);
    behavior: url(pie.htc/wp-admin/setup-config.html);
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.s-prev {
	/*border-top-left-radius:50%;
	border-bottom-left-radius:50%;*/
}

.s-next {
	left:auto;
	right:0;
	/*border-top-right-radius:50%;
	border-bottom-right-radius:50%;*/
}

.s-next:hover,
.s-prev:hover { 
	background: rgba(0, 0, 0, 1);
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
	opacity: 1;
}

.s-prev:before,
.s-next:before {
	content:"\f178";
	font-family:'FontAwesome';
}

.s-prev:before {
	content:"\f177";
}

.vegas-fullwidth:hover .s-prev,
.vegas-fullwidth:hover .s-next {
	opacity:1;
}
/* Navigation */

@media (max-width: 991px) {
.welcome { 
	font-size: 55px; 
	line-height:65px;
}
}

@media (max-width: 767px) {
.welcome { 
	font-size: 45px; 
	line-height:55px;
}
.main-title ul { 
	font-size:20px;
}
}

@media (max-width: 480px) {
.welcome { 
	font-size: 26px; 
	line-height:36px;
}
.main-title ul { 
	font-size:14px;
}
}
