/******************reset css ***********/

/* HTML5 display-role reset for older browsers */

ol, ul {list-style: none;}

table {	border-collapse: collapse;	border-spacing: 0;}

/******************reset css ***********/

/**.d{font-family: 'Archivo', sans-serif;font-family: 'Archivo Black', sans-serif;}**/

@font-face {

    font-family: 'Conv_AgencyFB-Bold';

    src: url('fonts/AgencyFB-Bold.eot');

    src: url('fonts/AgencyFB-Bold.woff') format('woff'), url('fonts/AgencyFB-Bold.ttf') format('truetype'), url('fonts/AgencyFB-Bold.svg') format('svg');

    font-weight: normal;

    font-style: normal;

}

@font-face {

    font-family: 'Conv_CooperHewitt-Bold';

    src: url('fonts/CooperHewitt-Bold.eot');

    src: url('fonts/CooperHewitt-Bold.woff') format('woff'), url('fonts/CooperHewitt-Bold.ttf') format('truetype'), url('fonts/CooperHewitt-Bold.svg') format('svg');

    font-weight: normal;

    font-style: normal;

}

@font-face {

    font-family: 'Conv_AvenirNextLTPro-Regular';

    src: url('fonts/AvenirNextLTPro-Regular.eot');

    src: url('fonts/AvenirNextLTPro-Regular.woff') format('woff'), url('fonts/AvenirNextLTPro-Regular.ttf') format('truetype'), url('fonts/AvenirNextLTPro-Regular.svg') format('svg');

    font-weight: normal;

    font-style: normal;

}

@font-face {

    font-family: 'AvenirNext-DemiBold';

    src: url('fonts/AvenirNext-DemiBold.eot') format('embedded-opentype');

    src: url('fonts/AvenirNext-DemiBold.woff') format('woff'), url('fonts/AvenirNext-DemiBold.ttf')  format('truetype'), url('fonts/AvenirNext-DemiBold.svg#AvenirNext-DemiBold') format('svg');

    font-weight: normal;

    font-style: normal;

}

@font-face {

        font-family: 'Cooper Hewitt';

        src: url('fonts/CooperHewitt-Medium.html') format('woff2'),

                url('fonts/CooperHewitt-Medium.woff') format('woff');

        font-weight: 500;

        font-style: normal;

}

@font-face {

        font-family: 'Avenir Next LT Pro';

        src: url('fonts/AvenirNextLTPro-Regular.html') format('woff2'),

                url('fonts/AvenirNextLTPro-Regular.woff') format('woff');

        font-weight: normal;

        font-style: normal;

}



body{margin:0px; padding:0px; color:#000000; font-size: 16px !important;}

/**google fonts *****/
.clear {clear: both;}
.ops-bold{font-family: 'Open Sans', sans-serif  !important;}

.anbold{font-family: 'Archivo Narrow', sans-serif !important;}



/**custom  fonts *****/

.agencyfb{font-family: 'Conv_AgencyFB-Bold',Sans-Serif !important;}

.Cohewitt{font-family:Conv_CooperHewitt-Bold !important;}

.av-pro{font-family:Conv_AvenirNextLTPro-Regular !important;}

.av-bold{font-family:AvenirNext-DemiBold !important;}

.height-100vh{height:100vh; overflow:hidden;}
.bottom-fixed{position: fixed;    bottom: 0;}

a{outline: none;}

/********   default theme css *********/

.ft-size-50{font-size:50px !important;}

.ft-size-40{font-size:40px !important;}

.ft-size-36{font-size:36px !important;}

.ft-size-26{font-size:26px !important;}

.ft-size-18{font-size:18px !important;}

.ft-size-20{font-size:20px !important;}

.ft-size-14{font-size:14px !important;}

.ft-white{color:#fff !important;}

.ft-blue{color:#49669a !important;}

.ft-700{font-weight: 700;}
.ft-800{font-weight: 800;}
.ft-900{font-weight: 900;}
.ft-600{font-weight: 600;}
.ft-500{font-weight: 500;}
.ft-400{font-weight: 400;}

.letter-space-3{letter-spacing: 3px !important;}
.letter-space-2{letter-spacing: 2px !important;}

.letter-space-6 {letter-spacing: 6px !important;}

.bg-top-gr{background-image: linear-gradient(to right, #4b95cd , #7e84c7)!important;}

.ft-above-gr{background-image: linear-gradient(to right, #4b95cd , #7e84c7)!important;}

.overlay{content:"";position:absolute;width:100%;height:100%;background: #000;opacity: 0.5;z-index:2;}

.z-index-2{z-index:2;}

.m-logo{display:none;}
.lt-underline {text-decoration: underline;}
.text-transform{text-transform: uppercase;}
.border-bottom {border-bottom: 1px solid #b2b2b2;}

/********   default theme css close here *********/

.top-input-group .btn.btn-top{ margin: 5px 0px 5px 10px; border-radius:10px; padding: 5px 20px;}

.top-input-group .btn.btn-secondary.btn-top{background:#fff; border-color:#fff; color:#424854; }

.top-input-group .btn.btn-primary.btn-top{background:#49669a; border-color:#49669a;}

.top-input-group input.form-control { border-radius: 0px;background-clip: unset;color: #bdc2e3;background-color: transparent;border: 1px solid #fff;font-size: 16px !important;font-weight: 600;}

.top-input-group input.form-control::-webkit-input-placeholder {  color:#bdc2e3;}

.top-input-group input.form-control::-moz-placeholder {  color:#bdc2e3;}

.top-input-group input.form-control:-ms-input-placeholder { color:#bdc2e3;}

.top-input-group input.form-control:-moz-placeholder { color:#bdc2e3;}

.sticky.is-sticky{background: #fff;position:fixed; top:0; left:0; right:0; z-index: 999;box-shadow: 0px -6px 11px 0px #000; }



/***********navbar***********/

.navbar {padding:0rem}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active,

.navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {color: #fff;}

.navbar-dark .navbar-nav .nav-link {color: #3e588b; font-size: 18px; font-family: open sans; font-weight:600; }

.navbar-dark .navbar-nav li.nav-item.active {background:#49669a;}

.navbar-dark .navbar-nav .nav-link:focus,

.navbar-dark .navbar-nav .nav-link:hover {color: #fff;	background:#49669a;}

.nav-link {padding: 2rem 2rem;}

.navbar-expand-lg .navbar-nav .nav-link {padding: 30px 54px;}

.navbar-brand.navbar-brand-centered  {width: 290px; position:relative; margin-right:0px; top:-40px; }

.navbar-brand.navbar-brand-centered img {position:absolute;left:0;top:0;z-index:999;background: #fff;margin-right: 0px;right: 0;margin: 0 auto;	width: 250px;}

.navbar-dark  .navbar-toggler-icon {

    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");

}

.navbar-nav {width: 100%; margin: 0; padding: 0;}





/**********owl slider ************/

.slide-content-box{right:0; left:0;}



#index-slider .owl-stage-outer::after {top:0;content:"";position:absolute;width:100%;height:100%;background: #000;opacity: 0.5;z-index:2;}

#index-slider {border-bottom: 4px solid #999999;}

#index-slider .item img{display: block;width: 100%;height: auto;}

#index-slider .owl-dots{text-align: center;position: absolute;bottom:20px;left:0;right:0;z-index: 999;}

#index-slider .owl-dot{	background: #615f5f!important;border: 1px solid #615f5f!important;width:15px;height: 15px;border-radius: 50%;margin: 2px;}

#index-slider .owl-dot.active{background:#48679a !important; border: 1px solid #48679a !important;}

.btn.btn-outline-primary{background:#49669a !important; border: 1px solid #49669a !important; color:#fff; border-radius:0px; font-family: open sans; letter-spacing:2px;padding: 8px 20px; }

.btn.btn-outline-secondary{background:transparent !important; border: 1px solid #fff !important; color:#fff; border-radius:0px; font-family: open sans; letter-spacing:2px;padding: 8px 20px; }



/*****sec-2 ************/

.icon-title{box-shadow: 0px 2px 2px 1px #d0d0d0; -webkit-box-shadow: 0px 2px 2px 1px #d0d0d0; padding: 25px 0px; font-family: open sans; font-weight:600; font-size:25px; color:#49669a; letter-spacing:1px; cursor:pointer;}

.icon-title:hover{background:#49669a; color:#fff;}



/**********sec-3*********/

.bg-3-paralax {background-image:url(img/bg-3.png);min-height:200px;background-attachment:fixed;background-position:center;background-repeat: no-repeat;background-size:cover;position:relative;}

/************services**********/

.index-service h2{font-weight:600 !important; position:relative; max-width: 218px;    margin: 0 auto;}

.index-service h2::after{content: ""; border:4px solid #49669a;width: 50px;display: block; margin: 0 auto;position: absolute;left: 0; top: 100%; margin-top: 10px;}

.index-service h3{color:#49669a; font-weight:600 !important;}

.index-service .icon-service{box-shadow: 0px 2px 2px 1px #d0d0d0; -webkit-box-shadow: 0px 2px 2px 1px #d0d0d0; padding:20px 15px}

.index-service p{margin-bottom:0px;}

.index-service .icon-service:hover{background:#49669a; color:#fff;}

.index-service .icon-service:hover h3{color:#fff;}

/**********course*********/

.course-box{z-index:2; background:#49669a; padding:10px; color:#fff; font-family:'Open Sans', sans-serifs; position:absolute; left:0; right:0; bottom:0;}

.course-box span{font-size:14px;}

/**********contact*******/

.index-service h2.h2-contact-width{max-width:220px !important}

.getintouch input{border-radius:0px; border:2px solid #32394a; color:#32394a; }

.getintouch textarea{border-radius:0px; border:2px solid #32394a; height:250px; color:#32394a;}

.getintouch .input-group-text{background:transparent;border-radius:0px; border-color:#32394a; border:2px solid; padding:15px 15px;   border-right: 0;}

.getintouch .input-group>.custom-select:not(:first-child),

.input-group>.form-control:not(:first-child) {border-top-left-radius: 0;border-bottom-left-radius:0;border-left: 0px;}

.getintouch ::placeholder {   color: #32394a;  opacity:1; }

.getintouch :-ms-input-placeholder {color: #32394a;}

.getintouch ::-ms-input-placeholder {color: #32394a;}

.getintouch label.label{color:#32394a;     font-weight: 600;}

.getintouch .form-control:focus {color: #32394a;background-color:#fff;border-color:#32394a;outline:0;box-shadow:unset;}



/**************map***********/

ul.ft-above-address {margin:0px; padding-top: 10px; list-style:none; list-style-type: unset; font-family:open sans; color:#fff; padding-left: 0px;    padding-right: 0px;}

ul.ft-above-address  li{list-style:none; display:inline-block; width:100%; margin-bottom:15px;}

ul.ft-above-address  li img{margin-right:10px; margin-bottom:10px;margin-top: 6px; float:left; vertical-align:middle;}

ul.ft-above-address  li span{font-weight:600; font-size:22px;}

ul.ft-above-address  li:last-child{margin-bottom:0px;}



/***********newsletter**************/

.newsletter .btn.btn-newsletter{background:#49669a; color:#fff; letter-spacing:2px; margin-left:15px;}

.newsletter label{font-weight:600;}

.newsletter input{border-radius:0px;border: 2px solid #727272;color: #727272;}



/****************footer***************/

.footer{background:#444f67; font-family:open sans;}

.footer p{color:#9aa5b2;}

.footer ul li{display:inline-block; width:100%; color:#9aa5b2; vertical-align: text-bottom; }

.footer ul li a{color:#fff;}

.footer ul li img{float:left;  margin-right:15px; width: 20px;margin-top: 5px;}

.footer ul.social li {color:#fff;    vertical-align: middle;     margin-bottom: 15px; }

.footer ul.social li img{float:left;  margin-right:15px; margin-top: 0px;    width: auto; }

.footer-botom{background:#42576e; font-size:15px; color:#9aa5b2; padding:20px 0px; color:#9aa5b2; font-family:open sans;}

.footer-botom a{color:#fff;}





#about-slider .owl-prev, #about-slider .owl-next {position: absolute;

top:30%;

        font-size: 18px;

display: -webkit-box;

display: -ms-flexbox;

display: flex;

-webkit-box-align: center;

-ms-flex-align: center;

align-items: center;

-webkit-box-pack: center;

-ms-flex-pack: center;

justify-content: center;

width: 15%;

color: #fff;

text-align: center;

opacity: .5;}



#about-slider .owl-prev span, #about-slider .owl-next span {overflow: visible;

color: #fff;

background-image: linear-gradient(to right, #4b95cd , #7e84c7) !important;

width: 30px;

height: 30px;

border-radius: 5px;}

#about-slider .owl-prev{left:-100px;}

#about-slider .owl-next{right:-100px;}



/********************** About Page Css *************************/



#about-outer {

        background: url(img/about-bg.png) no-repeat;

        height: 372px;

        background-size: 100%;

        background-position: 0 0;

}

.pages-title h2 {

        color: #fff;

        font-family: 'Cooper Hewitt';

        font-weight: bolder;

        font-size: 34px;

        padding: 15% 0 0;

        position: relative;

}

.pages-title h2::before {

        width: 50px;

        height: 3px;

        position: absolute;

        bottom: -8px;

        background: #fff;

        content: "";

}

.header-outer {

        background: #fff;

}

.content-text p {

        color: #49669a;

        text-align: center;

        font-size: 20px;

        padding: 30px 0;

        font-weight: 600;

        font-family: 'Conv_AvenirNextLTPro-Regular';

}



#education {

        background: #e9e9eb;

        padding: 60px 0;

}

.education-right h3 {

        font-size: 29px;

        font-weight: 700;

        color: #49669a;

        text-transform: uppercase;

        letter-spacing: 2px;

        line-height: 40px;

}

.education-right p {

        font-size: 17px;

        font-family: 'Avenir Next LT Pro';

        letter-spacing: 2px;

        padding: 10px 0 0;

}

.why_choose-outer h4 {

        font-size: 16px;

        width: 50%;

        font-weight: 600;

        color: #49669a;

}

#why_choose {

        padding: 40px 0;

        box-shadow: 0px 3px 11px -9px #000;

        margin: 0 0 2px;

}

.why_choose-title h3 {

        text-align: center;

        font-weight: 600;

        font-size: 34px;

        padding: 0 0 20px;

        position: relative;

        color: #49669a;

}

.why_choose-title h3::before {

        width: 50px;

        height: 3px;

        position: absolute;

        bottom: 10px;

        background: #49669a;

        content: "";

}

.why_choose-title p {

        text-align: center;

        font-weight: 500;

        font-size: 18px;

        padding: 10px 25px 30px;

        letter-spacing: 2px;

}

.why_choose-outer p::before {

        width: 40px;

        height: 3px;

        position: absolute;

        bottom: 3px;

        background: #49669a;

        content: "";

}

.why_choose-outer p {

        text-align: left;

        font-size: 16px;

        letter-spacing: 0px;

        position: relative;

        padding: 0 0 30px;

        margin: 0 0 30px;

}

.our-faculties-content {

        text-align: center;

        padding: 0 0 40px;

}

.our-faculties-content h3 {

    font-size: 34px;

    color: #49669a;

    font-weight: 600;

}

@import url('https://fonts.googleapis.com/css?family=Roboto');

.carousel-item > div {

    float: left;

}

.carousel-by-item [class*="cloneditem-"] {

    display: none;

}

.spe-cor {

        background: url(img/commitments-bg.png) no-repeat;

        background-size: cover;

        background-position: 0 -20px;

        padding: 40px 0 0;

}

.carousel-control-next {

        right: -100px !important;

}

.carousel-control-prev {

        left: -100px !important;

}

#slider-2 svg:not(:root).svg-inline--fa {

        overflow: visible;

        color: #fff;

        background-image: linear-gradient(to right, #4b95cd , #7e84c7) !important;

        width: 30px;

        height: 30px;

        border-radius: 5px;

}

.d-block.img-fluid {

        border-radius: 50%;

        border: 5px solid #49669a;

        width: 80%;

        margin: 0 auto;

}

.item h4 {

        font-size: 26px;

        padding: 20px 10px 0;

        text-align: center;

        font-weight: 700;

        letter-spacing: 2px;

        color: #49669a;

}

.item p {

    text-align: center;

    font-size: 16px;

        letter-spacing: 2px;

}

.view_more-btn {

        text-align: center;

        padding: 40px 0 60px;

}

.view_more-btn a {

        background: #49669a;

        padding: 12px 40px;

        font-size: 24px;

        border-radius: 7px;

        color: #fff;

        text-decoration: none;

}



/***************** Services Page Css ************************/



#our_services {

        padding: 50px 0 90px;

}

#services-outer {

        background: url(img/services-bg.png) no-repeat;

        height: 372px;

        background-size: 100%;

        background-position: 0 0;

}

#services-content {

        background: url(img/commitments-bg.png) no-repeat;

        background-size: cover;

        background-position: 0 -20px;

        padding: 40px 0 70px;

        background-color: #e9e9eb;

}

#services-content .content-text h3, #our_services .content-text h3, #news-content .content-text h3 {

        text-align: center;

        font-weight: 600;

        font-size: 34px;

        padding: 0 0 20px;

        position: relative;

        color: #49669a;

}

#services-content .content-text h3::before, #our_services .content-text h3::before, #news-content .content-text h3::before {

        width: 50px;

        height: 3px;

        position: absolute;

        bottom: 10px;

        background: #49669a;

        content: "";

}

#services-content .content-text p {

        padding-top: 10px;

}



.card-header h2 .btn-link {

        width: 100%;

        text-align: left;

}



#accordion-style-1 h1,

#accordion-style-1 a{

        color:#007b5e;

}

#accordion-style-1 .btn-link {

        font-weight: 600 !important;

        color: #49669a;

        background-color: transparent;

        text-decoration: none !important;

        font-size: 16px;

        font-weight: bold;

        padding: 0;

}



#accordion-style-1 .card-body {

        border-top: 1px solid #49669a;

        color: #49669a;

        font-weight: 500;

}



#accordion-style-1 .card-header .btn.collapsed .fa.main{

        display:none;

}



#accordion-style-1 .card-header .btn .fa.main{

        background: #007b5e;

        padding: 13px 11px;

        color: #ffffff;

        width: 35px;

        height: 41px;

        position: absolute;

        left: -1px;

        top: 10px;

        border-top-right-radius: 7px;

        border-bottom-right-radius: 7px;

        display:block;

}

.card-header {

        padding: .75rem 1.25rem;

        margin-bottom: 0;

        background-color: rgba(255, 255, 255, 0.03);

        border-bottom: 1px solid rgba(0,0,0,.125);

}

.card {

        margin: 0 0 15px;

}

.commitments-right img {

        width: 100%;

}





.teaching-section {

    position: relative;

}



.image {

    opacity: 1;

    display: block;

    width: 100%;

    height: auto;

    transition: .5s ease;

    backface-visibility: hidden;

}



.middle {

        transition: .5s ease;

        opacity: 0;

        position: absolute;

        top: 50%;

        left: 50%;

        transform: translate(-50%, -50%);

        -ms-transform: translate(-50%, -50%);

        text-align: center;

        width: 80%;

}

.teaching-section:hover .middle {

    opacity: 1;

}

.text {

        background-color: #49669a;

        color: white;

        font-size: 18px;

        padding: 12px 0;

        width: 60%;

        margin: 0 auto;

        font-weight: 600;

        letter-spacing: 2px;

}

.teaching-section:hover .img-hover {

        width: 100%;

        background-image: linear-gradient(to right, #4b95cd , #7e84c7) !important;

        position: absolute;

        height: 399px;

        opacity: 0.9;

}



.teaching-section.active .img-hover {

        width: 100%;

        background-image: linear-gradient(to right, #4b95cd , #7e84c7) !important;

        position: absolute;

        height: 399px;

        opacity: 0.9;

}

.teaching-section.active .middle {

        opacity: 1;

}

.middle h4 {

        font-size: 30px;

        font-weight: 600;

        letter-spacing: 2px;

        color: #fff;

}

.middle p {

        font-size: 18px;

        font-weight: 500;

        color: #fff;

}





/******************* Services Page Css ********************/



/******************* Our Courses Css ********************/



#our_courses-outer {

        background: url(img/our-courses-bg.png) no-repeat;

        height: 372px;

        background-size: 100%;

        background-position: 0 0;

}

#courses-content {

        padding: 10px 0;

        background: url(img/commitments-bg.png) no-repeat;

        background-size: cover;

        background-position: 0 -120px;

        background-color: #e9e9eb;

}

.coureses-img img {

        width: 100%;

}

.courses-post {

        box-shadow: 0px 0px 3px -1px #000;

        background: #fff;

}

.coureses-post-content h5 {

        font-size: 24px;

        font-weight: 600;

        color: #49669a;

        padding: 30px 0;

        position: relative;

}

.coureses-post-content h5::before{

        width: 50px;

        height: 3px;

        position: absolute;

        bottom: 10px;

        background: #49669a;

        content: "";

}

.admin-content {

        border-top: 1px solid #e6e7e8;

        padding: 10px 0 0;

        margin: 18px 0 0;

}

.coureses-post-content p {

        letter-spacing: 1px;

}

.admin-content span {

        color: #49669a;

        padding: 0 18px 0 0;

        font-size: 14px;

}

.admin-content .fa-calendar, .admin-content .fa-user {

        color: #49669a;

        margin: 0 8px;

}

/******************* Our Courses ********************/





/******************* News Css ***********************/



#news-outer {

        background: url(img/news-bg.png) no-repeat;

        height: 372px;

        background-size: 100%;

        background-position: 0 0;

}

.news-post img {

        width: 100%;

}

.news-post a img {

        width: 14px;

}

.news-post a {

        color: #000;

        font-size: 20px;

        padding: 15px 20px 0;

}

.news-post h4 {

        color: #49669a;

        font-weight: 600;

        padding: 15px 20px 0;

}

.news-post p {

        padding: 15px 20px 0;

}

 #news-content {

        padding: 50px 0 10%;

        background: url(img/commitments-bg1.png) no-repeat;

        background-size: cover;

        background-position: -230px 0;

        background-color: #e9e9eb;

}

.news-post {

        background: #fff;

        box-shadow: 0px 2px 5px -3px #000;

        margin-top: 40px;

}

.news-post .view_more-btn a {

        background: #49669a;

        padding: 12px 30px;

        font-size: 18px;

        border-radius: 4px;

        color: #fff;

        text-decoration: none;

        margin: 0 20px;

}

.news-post .view_more-btn {

        text-align: left;

        padding: 20px 0 50px;

}

.pagination-menu {

        float: right;

        margin: 45px 0 0;

}

.pagination-menu .page-link {

        padding: 12px 18px;

        line-height: 18px;

}

.page-item.active .page-link:focus {

        background: #49669a;

        box-shadow: inherit;

}

.page-item.active .page-link {

        z-index: 1;

        color: #fff;

        background-color: #49669a;

        border-color: #49669a;

}

#contact-outer {

        background: url(img/contact-bg.png) no-repeat;

        height: 372px;

        background-size: 100%;

        background-position: 0 0;

}

#contact-page-content {

        padding: 50px 0 4%;

        background: url(img/commitments-bg1.png) no-repeat;

        background-size: cover;

        background-position: -230px 0;

        background-color: #e9e9eb;

}

#header-one .navbar-expand-lg .navbar-nav .nav-link {
        padding: 30px 30px;
}
#header-one .top-left span {
        display: inline-block;
        font-size: 22px !important;
        margin: 0;
}
#header-one .float-left {
        width: 22%;
}
.socil-icon-header-one {
        background: #49669a;
}
#header-one .top-left {
        padding: 8px 0 4px;
}
.socil-icon-header-one .icons {
        text-align: right;
}
.socil-icon-header-one .icons a {
        color: #fff;
        padding: 0 2px;
        line-height: 30px;
        margin: 8px 0;
        display: inline-block;
}
#home-page {
        background: url(img/home-banner.png);
        background-size: 100%;
        background-position: center top;
        background-repeat: no-repeat;
                height: 100vh;
}
.home-banner-title {
        width: 58%;
        padding: 5% 4% 20%;
}
.admission-outer {
        width: 100%;
        border: 2px solid #fff;
        padding: 30px 30px;
        margin: 40px 0 0;
}
.admission-outer a.btn.btn-primary.active {
        width: 20%;
        border-radius: inherit;
        padding: 12px 0;
        font-size: 22px;
        background: #49669a;
        border: 1px solid #49669a;
}
.admission-outer .btn.btn-primary {
        width: 20%;
        border-radius: inherit;
        padding: 12px 0;
        font-size: 22px;
        background: none;
        border: 1px solid #fff;
}
.bg-12 {
        background: url(img/bg-12.png);
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
}
.admission-outer h3 {
        padding: 0;
}
.custom-margin {
        background: rgba(89, 115, 162, 0.93);
        padding: 0;
        box-shadow: 0px 2px 10px 0 #6f6f6f;
        margin-top: -5%
}
.training-title {
        padding: 7px 0 0;
}
.student-part.active {
        border: 2px solid #fff;
        text-align: center;
        padding: 10px 20px;
}
.student-part {
        padding: 10px 20px;
}
.student-part span {
        padding: 0 12px;
        color: #fff;
        font-size: 22px;
        line-height: 30px;
}
.bg-12 .text-center.ft-text {
        padding: 20px 0;
        color: #49669a;
        letter-spacing: 2px;
}
.bg-12 .text-center.ft-text a {
        color: #49669a;
}
#header-one .navbar-nav {
        width: auto;
}
.home-banner-title h2 {
    font-size: 26px;
}
.admission-outer h3 {
        font-size: 36px;
}
/***************** Signup page *******************/
.sign-bg {
        background: #fff url(img/sign-bg.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center -40px;
}
.sign-bg h3 {
        text-align: center;
        line-height: 190px;
        font-weight: 600;
        color: #fff;
        font-size: 36px;
}
.sign-right-bg {
        background: #fff url(img/sign-right-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0 0;
        padding-bottom: 9px;
}
.sign-right {
        width: 47%;
        margin: 0 auto;
}
.input--style-1 {
        padding: 9px 0;
        color: #fff;
        background: none;
        font-weight: 200;
}
.sign-right-bg input {
        outline: none;
        margin: 0;
        border: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        font-size: 16px;
        font-family: inherit;
}
.input-group {
        position: relative;
        margin-bottom: 20px;
        border-bottom: 1px solid #ccc;
}

.radio-btn {
    border:none;
}
.radio-btn .form-check-inline {
    width: 36%;
}
.form-check-inline .form-check-label {
        color: #fff;
}
.code-outer span {
        color: #fff;
        text-decoration: underline;
}
.sub-btn {
        margin: 10px auto 0;
        width: 60%;
}
.sub-btn .btn-green {
        width: 100%;
        background: #49669a;
        border-radius: 5px;
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        padding: 8px 0;
}
.sub-btn .btn-green:focus {
    outline: none;
}
.sign-right-bg p {
        color: #fff;
        font-size: 20px;
        font-weight: 300;
        text-align: center;
        padding: 20px 0 0;
}
.sign-right-bg p a {
        color: #fff;
        font-weight: 600;
}
input[type="email"].input--style-1::-webkit-input-placeholder, input[type="text"].input--style-1::-webkit-input-placeholder, input[type="password"].input--style-1::-webkit-input-placeholder {
    color: #bfbfc2;
}
.code-out {
        width: 100%;
}
.left-span-con {
    display: flex;
        width: 50%;
        float: left;
}
.right-span-con {
    width: 50%;
        float: right;
        text-align: right
}


















































/****************responsive css***************/
@media (max-width:1920px){
#home-page {
        background-size: cover;
        background-position: right top;
}

}


@media (max-width:1440px){
#home-page {
        background-size: cover;
        background-position: right top;
}
.admission-outer a.btn.btn-primary.active, .admission-outer .btn.btn-primary {
        font-size: 12px;
}

.home-banner-title {
        padding: 0% 4% 20%;
    text-align: center;
    width: 100%;
}


}


@media (max-width:1366px){

#header-one .navbar-expand-lg .navbar-nav .nav-link {
        padding: 25px;
}
#header-one .float-left {
        width: 25%;
}
#header-one .top-left span {
        font-size: 18px !important;
}
.home-banner-title h2 {
        font-size: 20px;
        text-align: center;
}
.home-banner-title {
        padding: 2% 4% 20%;
    text-align: left;
    width: 60%;
}
.admission-outer {
        padding: 10px;
        margin: 0 auto;
        width: 65%;
}
.admission-outer h3 {
        font-size: 30px;
}
.admission-outer a.btn.btn-primary.active, .admission-outer .btn.btn-primary {
        padding: 8px 0;
        font-size: 20px;
        width: 40%;
}
.student-part span {
        font-size: 16px;
        line-height: 20px;
}
.custom-margin {
        padding: 0;
}
#home-page {
        background-size: 100%;
}
.student-part img {
        width: 30%;
        height: 50%;
}
}


@media (max-width:1199px){

    .navbar-expand-lg .navbar-nav .nav-link {padding-right:.7rem;padding-left:.7rem;}

    .navbar-dark .navbar-nav .nav-link {font-size: 18px;}

    .navbar-brand.navbar-brand-centered img{width: 200px;}
#home-page {
        background-position: right 0;
        background-size: cover;
}
}


@media (max-width:1024px){
.sign-bg h3 {
        line-height: 120px;
}

}



@media only screen and (min-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {
.admission-outer {
        text-align: center;
}

#home-page {
        background-size: cover;
        background-position: 88% 0;
}
.home-banner-title {
        width: 100%;
        padding: 18% 30px;
}
.home-banner-title h2 {
        font-size: 50px;
}
.admission-outer h3 {
        font-size: 60px;
}
.admission-outer a.btn.btn-primary.active, .admission-outer .btn.btn-primary {
        padding: 28px 0;
        font-size: 36px;
}
.admission-outer {
        width: 100%;
        padding: 30px 0;
}
.training-content .box-content {
        margin: 0;
}
}


@media (max-width:999px){

        .navbar.navbar-expand-lg.navbar-dark{padding-left:15px; padding-right:15px;}

        ul.ft-above-address li{margin-bottom: 7.5px;}

        .top-header{text-align:center; }

        .top-header .top-left{margin-bottom:5px;}

        #about-outer, #services-outer, #our_courses-outer, #news-outer, #contact-outer {

        height: 210px;

}

.item {

        cursor: all-scroll;

}

}



@media (max-width:991px){
#header-one .top-left {
        display: none;
}
.bottom-fixed {
        position:inherit;}

        .height-100vh {overflow: inherit;}
#home-page {
        background-position: right 0;
        background-size: cover;
}
.home-banner-title {
        width: 80%;
        padding: 8% 0 0;
        margin: 0 auto;
}
.admission-outer {
        width: 100%;
        padding: 30px;
}
.home-banner-title h2 {
        font-size: 30px;
}
.m-logo {display:block;}
.m-logo img {
        width: 50%;
}

.home-banner-title h2 br {
        display: none;
}
.admission-outer a.btn.btn-primary.active, .admission-outer .btn.btn-primary {
        width: 40%;
        padding: 10px 0;
        font-size: 20px;
}
.admission-outer h3 {
        font-size: 30px;
}
}



@media (max-width: 823px){
.home-banner-title {
        width: 80%;
        padding: 3% 0 10%;
}
.home-banner-title h2 {
        font-size: 20px;
}
.admission-outer h3 {
        font-size: 20px;
}
.admission-outer a.btn.btn-primary.active, .admission-outer .btn.btn-primary {
        padding: 5px 0;
        font-size: 14px;
}
.admission-outer {
        width: 100%;
        padding: 10px;
}
.student-part img {
        width: auto;
}
.student-part.active {
        margin: 0 20px;
}

}




@media (max-width:768px){
#home-page {
        background-size: 180%;
}
 .nav-link {padding: .5rem .5rem;}
.home-banner-title {
        width: 100%;
        padding: 2% 4% 20%;
        text-align: center;
}
.admission-outer {
        padding: 16px;
}
.home-banner-title h2 {
        font-size: 22px;
}
.training-title {
        padding: 6px 0 0;
}

 .m-logo{display:block; width:25%;}

.home-banner-title {
        width: 100%;
}
.training-content .box-content {
        margin: 0 20px 10px;
}
.sign-right-bg {
        margin: 40px 0 0;
}
}

@media (max-width:767px){
.m-logo img {
        width: 100%;
}

        .ft-size-40{font-size:30px !important;}

        .ft-size-36{font-size:26px !important;}

        .ft-size-26 {font-size:20px !important;}

        .index-service h2{max-width: 159px;}

        .index-service h2.h2-contact-width{max-width: 159px !important;}

        .mb-input{display:none;}

        .top-header .top-right .d-flex.top-input-group{display: inherit !important;}

.owl-nav {

        display: none;

}

#about-outer, #services-outer, #our_courses-outer, #news-outer, #contact-outer {

        height: 104px;

}

.education-right h3, .pages-title h2 {

        font-size: 20px;

        line-height: 32px;

        padding: 30px 0 0;

}

#accordion-style-1 .btn-link {

        white-space: inherit;

        font-size: 15px;

}

.teaching-section {

        margin-bottom: 40px;

}

#our_services {

        padding: 30px 0 0;

}

.content-text p {

        padding: 10px 0 30px;

}

.courses-post {

        display: inline-block !important;

}

.admin-content {

        padding: 10px 0 15px;

}

.view_more-btn {

        padding: 0px 0 40px;

}

#services-content .content-text h3, #our_services .content-text h3, #news-content .content-text h3 {

        font-size: 28px;

}

#news-content {

        padding: 10px 0 10%;

}

#contact-page-content {

        padding: 30px 0 10%;

}

.news-post {

        margin: 10px 0 30px;

}

.pagination-menu {

        margin: -17px 0 0;

}

.pagination-menu ul.pagination {

        margin: 0;

}
.admission-outer h3 {
        font-size: 30px;
        padding: 0;
}
.admission-outer a.btn.btn-primary.active, .admission-outer .btn.btn-primary {
        padding: 9px 0;
    font-size: 15px;
    width: 30%;
}
.home-banner-title {
        padding: 4% 4% 9%;
}
.home-banner-title h2 {
        font-size: 22px;
        line-height: 30px;
        padding: 0;
}
#home-page {
        background-size: 160%;
}



.sign-bg h3 {
        line-height: 160px;
}
}


@media (max-width:667px){
#home-page {
        background-size: cover;
    background-position: 85% 0;
}
.admission-outer h3 {
        letter-spacing: 1px !important;
        font-size: 30px !important;
}
.admission-outer {
        width: 100%;
}
.admission-outer a.btn.btn-primary.active, .admission-outer .btn.btn-primary {
        width: 30%;
        padding: 9px 0;
        font-size: 18px;
        margin-bottom: 20px;
}

.home-banner-title {
        width: 100%;
        padding: 10px 0 70px;
}


        .home-banner-title h2 {
        font-size: 16px;
        line-height: 25px;}
}










@media (max-width:576px){
.home-banner-title {
        width: 100%;
        padding: 10px 0 60px;
}
.admission-outer a.btn.btn-primary.active, .admission-outer .btn.btn-primary {
        width: 40%;
}
        .ft-size-40{font-size:22px !important;}

        .ft-size-36 {font-size: 22px !important;}

        .ft-size-26 {font-size:18px !important;}

        .top-header img{width:16%;}

}










@media (max-width:480px){
.admission-outer a.btn.btn-primary.active, .admission-outer .btn.btn-primary {
        width: 100%;
}
.index-service h2{max-width: 133px;}

.index-service h2.h2-contact-width {    max-width: 135px !important;}

.custom-margin {
        margin-top: 30px;
}
.admission-outer h3 {
        letter-spacing: 1px !important;
        font-size: 20px !important;
}
.home-banner-title {
        padding: 22% 0 15%;
}
.sign-bg h3 {
        line-height: 30px;
        font-size: 16px;
}
.sign-bg .left-section {
        margin-left: 0 !important;
}
.sign-right {
        width: 100%;
}
}



@media (max-width:375px){

.newsletter .input-group input{width:100%; margin-bottom:10px;}

.newsletter .btn.btn-newsletter {margin-left: 0px;}
#home-page {
        background-size: cover;
        background-position: 85% 0;
}
}



@media (max-width:320px){

.ft-size-40 {font-size: 14px !important;}

.ft-size-18 {font-size: 14px !important;}

.btn.btn-outline-primary{padding: 8px 8px; font-size: 14px;}

.btn.btn-outline-secondary{padding: 8px 8px; font-size: 14px;}



#index-slider .owl-dots{bottom: 10px;}

.icon-title{font-size: 18px}

.getintouch .input-group-text{padding:8px;}

}

/****************responsive css***************/
