/*------------------------------------------------------------------
[Main Theme Styles]

Project:  Cards - Personal vCard, Resume/CV & Portfolio
Author: Diego Pereira @ DotRex
Version:  1.0
Last change:  25/09/15 
Primary use:  Vcard / Personal / CV / Resume / Portfolio
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Table of contents]

1. Mixins / Variables
2. General
3. Buttons
4. Page Loader
5. Footer
6. vCard Body
7. Main Menu
8. Home
9. Content
10. Section: Resume
11. Owl Carousel
12. Section: Skills
13. Section: Portfolio
14. Section: Blog
15. Section: Blog - Single
16. Maps
17. Section: Blog - Contact
18. Crossbrowser Fallbacks
-------------------------------------------------------------------*/

/* ==========================================================
! 15. SECTION: Blog - Single
========================================================== */
.vcard-header-single {
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 888;
}
@media (min-width:992px) {
  .vcard-header-single {
    width: 40%;
    left: 30%;
    position: absolute;
    top: 61px;
    overflow-x: hidden;
  }
}
@media (min-width: 1400px) {
  .vcard-header-single {
    top: 180px;
  }
}
.blog-single-post {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  padding: 10px;
  padding-top: 0;
  padding-right: 20px;
}
.blog-single-content p {
  font-size: 13px;
  line-height: 23px;
}
.blog-comments-title {
  border-bottom: 1px dotted #08aeac;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
@media (min-width:992px) {
  .post-header-image {
    margin-left: -30px;
    margin-right: -40px;
  }
}
.post-header-image img {
  width: 100%;
}
.blog-single-title {
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 0;
  margin-bottom: 6px;
  border-bottom: 1px dotted #021533;
  padding-bottom: 4px;
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  color: #021533;
  border-bottom: 1px solid #021533;
  padding-bottom: 8px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.blog-single-title a {
  color: #021533;
}
.blog-single-title a:hover {
  text-decoration: none;
}
/*! Blog Comments */
.blog-comments-title {
  margin-bottom: 20px;
  margin-top: 40px;
  font-size: 18px;
  color: #08aeac;
}
.media-heading {
  font-weight: bold;
}
.media-heading small {
  font-size: 9px;
  display: block;
  color: #132644;
  margin-top: 8px;
}
.media-body {
  font-size: 12px;
}
.well {
  background-color: transparent!important;
}
.blog-comments > .media {
  border-bottom: 1px dotted #000000;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-bottom: 0;
  margin-top: 0;
}
.media {
  margin-top: 25px;
}
.media img {
  width: 64px!important;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
/* ==========================================================
! 16. SECTION: Map
========================================================== */
.map {
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
}
.map-overlay {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: url('../img/projects.html'), projetos !important;
}
/* ==========================================================
! 17. SECTION: Contact
========================================================== */
.contact-subtitle-1 {
  color: #08aeac;
  font-size: 14px;
  letter-spacing: -1px;
  font-weight: bold;
  margin-bottom: 8px;
  margin-top: 25px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #08aeac;
}
.contact-subtitle-1:first-child {
  margin-top: 0;
}
.contact-infos p {
  font-size: 13px;
  line-height: 16px;
}
.form-group {
  margin-bottom: 8px;
}
.form-send {
  width: 100%;
}
.form-send:hover {
  background: #d9212a !important;
}
.form-control {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  height: 50px;
}
::-webkit-input-placeholder {
  font-style: italic;
  color: #999999 !important;
}
:-moz-placeholder {
  font-style: italic;
  color: #999999 !important;
}
::-moz-placeholder {
  font-style: italic;
  color: #999999 !important;
}
:-ms-input-placeholder {
  font-style: italic;
  color: #999999 !important;
}
.modal-wrap {
  display: none;
}
.modal-bg {
  background: #333;
  opacity: 0.9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}
.modal-content {
  background: #fafafa;
  font-size: 18px;
  position: fixed;
  top: 40%;
  left: 50%;
  margin-left: -125px;
  width: 250px;
  z-index: 9999;
  padding: 10px 20px;
}
.modal-content .modal-title {
  color: #021533;
  font-size: 22px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
  font-weight: bold;
}
.modal-content p {
  font-size: 14px;
  margin-bottom: 0;
}
#contactError .modal-title {
  color: #fff;
}
/* ==========================================================
! 18. CROSSBROWSER FALLBACKS
========================================================== */
.safari .vcard-profile-pic img {
  border: 0px solid #ddd;
}
.safari .testimonial-picture img {
  border: 0px solid #ddd;
}
